@charset "utf-8"
@require 'nib'

// Переменные
@require '_variables.styl'


// общие стили
@require '~modul.markup.ui-kit/markup/stylus/fonts'
@require '~modul.markup.ui-kit/markup/stylus/icons'
@require '~modul.markup.ui-kit/markup/stylus/buttons'
@require '~modul.markup.ui-kit/markup/stylus/forms'
@require '~modul.markup.ui-kit/markup/stylus/framework'
@require '~modul.markup.ui-kit/markup/stylus/grid'
@require '~modul.markup.ui-kit/markup/stylus/typography'
@require '~modul.markup.ui-kit/markup/stylus/common'

// компоненты
@require '~modul.markup.ui-kit/markup/stylus/404'
// @require '~modul.markup.ui-kit/markup/stylus/accordion'
@require '~modul.markup.ui-kit/markup/stylus/animations'
@require '~modul.markup.ui-kit/markup/stylus/blocks'
@require '~modul.markup.ui-kit/markup/stylus/captcha'
@require '~modul.markup.ui-kit/markup/stylus/currency'
@require '~modul.markup.ui-kit/markup/stylus/datetimepicker'
@require '~modul.markup.ui-kit/markup/stylus/drops'
//@require '~modul.markup.ui-kit/markup/stylus/ant-drop'
// @require '~modul.markup.ui-kit/markup/stylus/filter_float'
// @require '~modul.markup.ui-kit/markup/stylus/jcrop'
@require '~modul.markup.ui-kit/markup/stylus/labels'
@require '~modul.markup.ui-kit/markup/stylus/loading'
// @require '~modul.markup.ui-kit/markup/stylus/map'
// @require '~modul.markup.ui-kit/markup/stylus/messenger_client'
// @require '~modul.markup.ui-kit/markup/stylus/messenger'
// @require '~modul.markup.ui-kit/markup/stylus/new_function'
@require '~modul.markup.ui-kit/markup/stylus/notifications'
// @require '~modul.markup.ui-kit/markup/stylus/owl.carousel'
// @require '~modul.markup.ui-kit/markup/stylus/banner'
@require '~modul.markup.ui-kit/markup/stylus/popups'
// @require '~modul.markup.ui-kit/markup/stylus/print'
// @require '~modul.markup.ui-kit/markup/stylus/responsive'
@require '~modul.markup.ui-kit/markup/stylus/select_react'
@require '~modul.markup.ui-kit/markup/stylus/select_autosuggest_react'
// @require '~modul.markup.ui-kit/markup/stylus/select'
// @require '~modul.markup.ui-kit/markup/stylus/slider'
@require '~modul.markup.ui-kit/markup/stylus/sms'
@require '~modul.markup.ui-kit/markup/stylus/switcher'
@require '~modul.markup.ui-kit/markup/stylus/table'
// @require '~modul.markup.ui-kit/markup/stylus/tablet'
@require '~modul.markup.ui-kit/markup/stylus/tabs'
@require '~modul.markup.ui-kit/markup/stylus/tooltips'
// @require '~modul.markup.ui-kit/markup/stylus/transaction'
@require '~modul.markup.ui-kit/markup/stylus/upload'
// @require '~modul.markup.ui-kit/markup/stylus/wizard'

// общие стили часть 2
@require '~modul.markup.ui-kit/markup/stylus/header--redesign'
@require '~modul.markup.ui-kit/markup/stylus/layout--redesign'
@require '~modul.markup.ui-kit/markup/stylus/page'


// Локальные стили
@require 'local.styl'
