<!doctype html>
<html>
    <head>
        <%= BUILD_META_TAG %>
        <meta charset="utf-8"/>
        <title>React Example</title>
    </head>
    <body>
        <div id="container" class="poss"></div>
    </body>
</html>